<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>

            <li class="active treeview menu-open">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Application</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="/index"><i class="fa fa-circle-o text-red"></i>应用列表</a></li>
                    <li ><a href="/addApp"><i class="fa fa-circle-o text-yellow"></i>添加应用</a></li>
                    <li ><a href="/healthy"><i class="fa fa-circle-o text-aqua"></i>健康检查</a></li>
                    <li><a href="/activity"><i class="fa fa-circle-o text-red"></i>事务列表</a></li>
                    <li><a href="#"><i class="fa fa-circle-o text-yellow"></i>任务中心</a></li>
                </ul>
            </li>

            <li class="header">LABELS</li>
            <li><a href="/version"><i class="fa fa-book"></i> <span>版本说明</span></a></li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>

