<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{/layout/layout}">

<div layout:fragment="~{content}">

    <section class="content">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title"><span class="badge bg-light-blue">版本更新</span></h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">

                <table class="table table-bordered">
                    <tr>
                        <th style="width: 10px">#</th>
                        <th style="width: 100px">日期</th>
                        <th>版本说明</th>
                        <th>人员</th>
                    </tr>
                    <tr>
                        <td>1.</td>
                        <td>2018-09-06</td>
                        <td>Hoop-Admin 1.0版本正式上线</td>
                        <td>@雨人</td>
                    </tr>

                </table>
            </div>
        </div>
    </section>
</div>


</html>